section > h2, section > h4 {
    text-align: center;
}

.about-container {
    display: grid;
    /* grid-template-columns: 30% 50%; */
    gap: 15%;
    place-items: center;
}

.about-tiles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.7rem;
}

.about-tile {
    background: var(--color-secondary);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: .6rem;
    text-align: center;
    transition: all 400ms ease;
}

.about-icon {
    font-size: 1.5rem;
    padding-right: .5rem
}

.about-tile h2, text, p {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.about-row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: .5rem;
}

.about-row a {
    color: black
}

.about-image {
    transition: all 400ms ease;
    max-width: 50%;
    border-radius: 50%;
}

/* Hover behavior */

.about-tile:hover {
    background: transparent;
    border-color: var(--color-secondary);
    cursor: default;
}

.about-tile:hover .about-icon {
    color: var(--color-secondary)
}

.about-tile:hover .about-header {
    color: var(--color-secondary)
}

.about-tile:hover text {
    color: var(--color-secondary)
}

.about-tile:hover p {
    color: var(--color-secondary)
}

.about-tile:hover a {
    color: var(--color-secondary);
}