.layer-1 {
  width: 50%;
  background-color: rgba(255,255,255,0.5);
}

.layer-2 {
  width: auto;
  background-color: rgba(255,255,255,0.5);
}

.static {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-image: repeating-radial-gradient(circle at 17% 32%, white, black 0.00085px);
  margin: auto;
  width: 100%
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.first-animation {
  animation: back1 1s linear infinite;
}

.second-animation {
  animation: back2 0.1s linear infinite;
}

@keyframes back1 {
  from {
    background-size: 100% 100%;
  }

  to {
    background-size: 99% 100%
  }
}

@keyframes back2 {
  from {
    background-size: 50% 48.56%;
  }

  to {
    background-size: 50% 43.9%;
  }
}