#background {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
}

.container {
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  header {
    height: 60vh;
  }
}

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
}