#background {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
}

.container {
  margin: 0 auto;
}